{%extends 'template.html'%}
{%block title%}Dashboard{%endblock%}
{%block main %}
<div class="container">
    <table class="table w-auto table-bordered">
        <tbody>
            <tr>
                <th>Course</th>
                <th>Course Detail</th>

            </tr>
              {% for course in courses %}
            <tr>

                <td>{{course.course_name}}</td>
              <td><a href="/course/details/{{course.Co_id}}">Course Details</a></td>

            </tr>
            {%endfor%}



        </tbody>
    </table>
    <form method="get" action="/course/register">
    <button type="submit">Register</button>
  </form>
</div>
{%endblock%}
