{%extends 'template.html'%}
{%block title%}Dashboard{%endblock%}
{%block main %}
<div class="container">
    <table class="table w-auto table-bordered">
        <tbody>
            <tr>
                <th>Course</th>
                <th>Course Detail</th>

            </tr>
            <tr>
              {% for course in courses %}
                <td>course.course_name</td>
              <td><a href="/course/details/{{course.id}}">Course Details</td>
                {%endfor%}
            </tr>




        </tbody>
    </table>
    <form method="get" action="/page2">
    <button type="submit">Register</button>
</form>
</div>
{%endblock%}
