{%extends 'template.html'%}
{%block title%}Course Details{%endblock%}
{%block main %}
<div class="container">
    <table class="table w-auto table-bordered">
        <tbody>
            <tr>
                <th>Student ID</th>
                <th>Student Name</th>
                <th>Status</th>
                <th>Credits</th>


            </tr>
            <tr>
              {% for student in students %}
                <td>{{student.student.id}}</td>
              <td>{{student.student.student_name}}</td>
              
                <td>Course Details2</td>
                  <td>Course Details3</td>
                {%endfor%}
            </tr>




        </tbody>
    </table>
{%endblock%}
