<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="third.css">
    <title>
    	Degree Selection
    </title>
</head>
<body>
	<!--<body bgcolor="lightblue"> -->
<h1> Login</h1>
<form method="get">
	<!--<label for="Degree"> <strong> Select Degree: </strong> </label>
	<input id = "Degree" type="text"  placeholder="Degree"> -->
<p> <strong> Select Course:</strong> </p>
	<select>
		<option> Bachelor of Commerce (B.com)</option>
		<option> Bachelor of Mass Media (BMM)</option>
		<option> Bachelor of Arts (B.A) </option>
		<option> Bachelor of Home Science</option>
		<option> Bachelor of Science (B.Sc)</option>
	</select>
	<br>
	<p> <strong> Degree Stream: </strong> </p>
	<select>
		<option> CSE</option>
		<option> ISE</option>
		<option> EEE</option>
		<option> ECE</option>
		<option> ME</option>
	</select>
	<br>
	<br>
	<label for="Duration">Duration: </label>
		<input id="Duration" type="text" required>
		<br>
		<br>
		<label for="Credits">Credits: </label>
		<input id="Credits" type="text" required>
		<br>
		<br>
	<button> Login </button>
</body>
</html>
