{%extends 'template.html'%}
{%load static%}
{%block title%}Login{%endblock%}
{%block style%}
<link href="{%static 'text1.css'%}" rel="stylesheet" type="text/css"/>{%endblock%}
{%block main%}
<center>
<form action="/login" method="post">
{%csrf_token%}

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>
<br>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
<br>
<label for="Type"><b>Type</b></label>
<select class="form-control" name="type">
  <option value="student">Student</option>
  <option value="degree_provider">Degree Provider</option>
  <option value="course_provider">Course Provider</option>
  </select>

<br>
    <button type="submit">Login</button>
    <br>


  </div>
</form>
</center>
{%endblock%}
